<!--
作者：1320279417@qq.com
时间：2015-08-05
描述：@page3 train 模范引领
-->
<div class="tab-pane" id="train">
	<div class="content">
		<div class="page">
			<div class="container">
				<div class="row">
					
                    <foreach name='list' item='list'>
					<div class="col-md-4 col-sm-6  col-xs-12" style="">
						<article class="post tag-chinese-website tag-bootstrap-v3">
							<div class="post-featured-image">
								<a class="thumbnail" href="__ROOT__/home/index/showExemplar?id={$list.id}" onclick="">
									<img src="{$list.picture_url}" width="700" height="300" alt="" onload=" imgLoaded(this)">
								</a>
							</div>
							<div class="  " style="padding: 8px 8px 0px;border-bottom: 1px solid gainsboro;">
								<h4 class=" text-center "style="height: 18px;overflow: hidden;"><a href="__ROOT__/home/index/showExemplar?id={$list.id}">【{$list.tag}】{$list.title}</a></h4>
								<p style="padding-bottom: 10px;height: 65px;overflow: hidden;">&nbsp;&nbsp;&nbsp;
                                   {$list.brief_introduction}
								</p>

								<div class="" style="float: right;color:grey;margin-top: 15px;">{$list.subject}</div>

							</div>
						</article>
					</div>
					</foreach>
				</div>
				 <nav class="text-center">
				    <ul class="pagination pagination-lg">
				    	{$page}
				    </ul>
				</nav>
			</div>
		</div>
	</div>
</div>