<!--
作者：1320279417@qq.com
时间：2015-08-05
描述：page4 activity 活动风采
-->
<div class="tab-pane" id="activity">
	<div class="content">
		<div class="page">
			<div class="container">
				<div class="row">
				<div class="col-md-10 col-md-offset-1">
					  <foreach name='list'  item='list' >
						<div class="page2_news">
							<div class="post_head text-center">
								<h2>
						            <a href="#"  style="color: black;text-decoration: none;">{$list.subject}</a>
							    </h2>
								<div class="post_meta">
									<span class="">编辑：<a href="#">{$list.author}</a></span> &nbsp;&bull;
									<time>{$list.lastmodifytime|date='Y-m-d H:i',###}</time>
								</div>
							</div>
							<div class="post_content">
								<!--<blockquote>-->
								<p class="lead" style="text-indent:22pt;">
									{$list.message|truncate=380,'',0}
								</p>
								<!--</blockquote>-->
							</div>
							<div class="read_all">
								<a class="btn btn-lg btn-primary" href="__ROOT__/home/index/showArticle?group=New&id={$list.id}">阅读全文</a>
							</div>
							<div class="post_footer">
								<p>思源工作室</p>
							</div>
						</div>
                         </foreach> 
					
						<nav class="text-center">
							<ul class="pagination pagination-lg">
								{$page}
							</ul>
						</nav>
					
				</div>
			
				</div>
			</div>
		</div>
	</div>
</div>